@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(rgba(247, 248, 250, 1), rgba(247, 248, 250, 1));
  color: var($--primary);
  font-weight: 500;
  overflow: hidden;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.urbanist {
  font-family: 'Urbanist', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.block-custom-shadow {
  box-shadow: 3px 9px 15px 0px rgba(211, 209, 216, 0.3);
}

input {
  &:focus {
    outline: none;
  }
}