$--primary: '#23262F';
$--secondary: '#141718';
$--background: '#F7F8FA';
$--gray: '#757171';
$--light-gray: '#ACADB9';
$--gold: '#E79D25';
$--light-red: '#E93F21';
$--red: '#DD3D20';
$--green: '#0AB161';